# Site
# Site URL which you will access it from
# DO NOT ADD THE / AT THE END!!!
SITE_URL=https://YOUR DOMAIN HERE
# Hardcoded API key for the site
SITE_API_KEY=
# Environment for operations
# (production or development)
NODE_ENV=development

# Iron Session
# Set this to a LONG passphrase!
IRON_PASWORD=

# Discord OAuth
# Create and application here: https://discord.com/developers/applications
# Copy the OAuth information into these boxes
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=

# DO NOT TOUCH -- AUTO GENERATED!
DSICORD_OAUTH_URL=https://discord.com/api/oauth2/authorize?client_id=$DISCORD_CLIENT_ID&redirect_uri=$SITE_URL/api/user/discord/callback&response_type=code&scope=identify%20email%20guilds%20guilds.join%20guilds.members.read

# Steam OpenID
# Get your key here: https://steamcommunity.com/dev/apikey
STEAM_API_KEY=

# Database
DB_TYPE=mysql
DB_SCHEMA=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=3306

# DO NOT TOUCH -- AUTO GENERATED!
DATABASE_URL=$DB_TYPE://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_SCHEMA