# Site URL which you will access it from
# DO NOT ADD THE / AT THE END!!!
SITE_URL=http://localhost:3000

# Environment for operations
# (production or development)
NODE_ENV=production

# Analytics
# Becuase I'm not mad I use Umami.
# due to the purpose of this site the type of information Google give a site admin is not required
# https://github.com/mikecao/umami | You can install and use Umami yourself, it is entirely optional
# URL corresponds to the path to the .js file (normally https://example.com/umami.js)
# ID refers to the website ID provided by your instance of Umami
NEXT_PUBLIC_UMAMI_URL=
NEXT_PUBLIC_UMAMI_ID=

# Discord OAuth
# Create and application here: https://discord.com/developers/applications
# Copy the OAuth information into these boxes
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=

# DO NOT TOUCH -- AUTO GENERATED!
DSICORD_OAUTH_URL=https://discord.com/api/oauth2/authorize?client_id=$DISCORD_CLIENT_ID&redirect_uri=$SITE_URL/api/connections/discord/callback&response_type=code&scope=identify%20email%20guilds%20guilds.join%20guilds.members.read

# Steam OpenID
# Get your key here: https://steamcommunity.com/dev/apikey
STEAM_API_KEY=

# Encrypted Field Password
# This key will be used to encrypt values like discord tokens, JTWs & session cookies
ENCRYPTION_KEY=

# Database
DB_TYPE=mysql
DB_SCHEMA=ticketsys
DB_USER=root
DB_PASS=
DB_HOST=localhost
DB_PORT=3306

# DO NOT TOUCH -- AUTO GENERATED!
DATABASE_URL=$DB_TYPE://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_SCHEMA