# NextAuth
# Set to your site URL
NEXTAUTH_URL=https://YOUR DOMAIN HERE
# Run on a linux CLI: openssl rand -base64 32
NEXTAUTH_SECRET=

# Discord OAuth
# Create and application here: https://discord.com/developers/applications
# Copy the OAuth information into these boxes
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Steam OpenID
# Get your key here: https://steamcommunity.com/dev/apikey
STEAM_API_KEY=

# Database
DB_TYPE=mysql
DB_SCHEMA=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=3306

# DO NOT TOUCH -- AUTO GENERATED!
DATABASE_URL=$DB_TYPE://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/mydb?schema=$DB_SCHEMA